.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
*.Rproj
rsconnect/
tokens/
tokens.R
powerpoint
config.R
www/site_data/
*.jar
Notebooks/transition_date_extraction_modis_test.Rmd
Notebooks/transition_date_plots_test.Rmd
.Rda
www/downloads_test
www/npn_grid_data
testLOESSdata2.rds
testEVI.rds
testLOESSdata.rds
.html
*.rds
LandSatLandCover/
