/*input[type="number"] {
  max-width: 80%;
}*/

/*.leaflet-popup-content {
  width:280px;
}*/

/* PhenoSynth LOGO */
#phenoSynthLogo{
  position: fixed;
  bottom:0;
  right:0;
  width:100px;
  z-index:2000;
}

/*SETTING STANDARD WIDTH OF UNDERLYING ELEMENTS TO 100% WIDTH AND HEIGHT*/
html, body, .col-sm-8, .tab-content, .tab-pane {
  width:100%;
  height:100%;
  padding: 0px;
}
.container-fluid {
  width:100%;
  height:100%;
  padding: 0px;
}
/**/

#plotTable{
  padding: 0px 40px;
}
#downloadData {
  margin-left:20px;
  margin-right:20px;
}

/*Change Padding for header*/
.navbar-header{
  padding-left:5%;
}

.plot-container.plotly{
  margin-top: 65px;
}

.navbar.navbar-default.navbar-static-top {
  margin: 0;
  width:100%;
  position:fixed;
}
/**/

/*changing height of dataplot*/
#data_plot {
  height: 100%;
}
/**/




.leaflet-top.leaflet-left {
  margin-top: 25px;
}

#row1 {
  height:15%;
  background-color:grey;
}

/*Front Page CSS to make BS modal look like a landing page*/
#frontPage .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  background: grey;
}

#frontPage img {
  width:200px;
}

#frontPage .modal-content{
  height: 100%;
}

#frontPage .modal-content .modal-header{
  background-color: grey;
  opacity: .5;
  height:0%;
  margin-bottom: 30;
  text-align: center;
}
#frontPage .modal-content .modal-body{
  background-color: grey;
  height:80%;
  text-align: center;
}

#frontPage .modal-content .modal-body h1{
  margin-bottom:30px;
}

#frontPageData {
  text-align:center;
}

#frontPage .modal-content .modal-body .form-group{
  background-color:rgba(110, 110, 110, 1.0);
  border: solid;
  margin:30px 0px 15px 0px;
  width: 65%;
  border-radius: 5px;
}

#frontPage .modal-content .modal-body .form-group div{
  width: 95%;
}

#frontPage .modal-content .modal-footer{
  background-color: grey;
  border: grey;
  height:20%;
  text-align: center;
}
/**/

#currentImage, #modisLegend {
  width:375px;
  height:225px;
  background-color: rgba(0, 0, 0, 0.0);
  border-color:rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
}

#plotpanel {
  background-color: rgba(0, 0, 0, 0.0);
  border-color:rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
  z-index: 11;
}

#showImage, #hidePlot {
  z-index: 10;
  position:absolute;
  height:15px;
  width:15px;
  font-size: 8px;
  padding: 0px 0px;
}

#showROIimage{
  z-index:10;
  position:absolute;
  height:15px;
  font-size:8px;
  left: 20px;
  padding:0px 10px;
}

#doneBuildingPlot, #buildingPlot{
  font-size:14px;
  color:red;
}

.leaflet-right .leaflet-control {
  margin-right: 130px;
}

.img {
  width:375px;
  height:225px;
}

.roi {
  width:375px;
  height:225px;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400;}

h2 {
  margin-left:30px;
}

#siteTitle {
  /* Appearance */
  padding: 0px 10px 0px 10px;
  z-index: 5;
  border-width: 3px;
  border-color: rgba(155, 155, 155, 1);
}

#mouseBox, #mouse {
  background-color: rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
  box-shadow: none;
  z-index: 4;
  color:white;
}

#controls {
  /* Appearance */
  background-color: 'white';
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.90;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 5;
  border-width: 3px;
  border-color: rgba(155, 155, 155, 1);
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.90;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Get Data for Anlysis Data types selected */
#toDataList {
  margin: 10;
}
